body {
  font-family: "Lexend", system-ui, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 0;
  margin: 0;
}

.main-container {
  padding: 0;
  margin: 0;
}


.card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2em;
  margin: 1em auto;
  width: 300px;
}


button {
  background: #81069e;
  border-radius: 20px;
  height: 40px;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.6s ease;
}

button:hover {
  background: #5d0971;
}
