.mapareabtn_selected {
  background: #81069e;
  border: 2px solid #81069e;
  border-radius: 17.5px;
  height: 35px;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.mapareabtn_selected:hover {
  background: #5d0971;
  border: 2px solid #5d0971;
}

.mapareabtn_selected:focus {
  outline: none;
}

.mapareabtn_unselected {
  background: #ffffff;
  border: 2px solid #81069e;
  border-radius: 17.5px;
  height: 35px;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 12px;
  text-align: center;
  color: #81069e;
  cursor: pointer;
}
.mapareabtn_unselected:hover {
  background: #f4eaff;
  border: 2px solid #81069e;
}

.mapareabtn_unselected:focus {
  outline: none;
}

.btn_primary {
  background: #81069e;
  border-radius: 20px;
  height: 40px;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.btn_primary:hover {
  background: #5d0971;
}

.btn_secondary {
  background: #ffffff;
  border: 2px solid #81069e;
  border-radius: 20px;
  height: 40px;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
  text-align: center;
  color: #81069e;
  cursor: pointer;
}

.btn_secondary:hover {
  background: #f4eaff;
  border: 2px solid #81069e;
}

.content_title {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 17px;
  color: #81069e;
}

.configuration-nav {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 0;
  padding: 1.5rem 2rem;
  height: 60px;

  background: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 20px 20px;
}

.nav-content {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #323232;
}

.nav-mode-badge {
  background: #81069e;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 20px;
  font-family: "Lexend";
  font-weight: 500;
  font-size: 14px;
}

.content {
  background: #ffffff;
  box-shadow: -10px 4px 10px rgba(0, 0, 0, 0.1),
    10px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px 30px 30px 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
